<mat-toolbar style="background-color: #60408A; color:#fff">
  <mat-toolbar-row>
    <h1>planB</h1>
    <span class="header-spacer header-icon"></span>
    <mat-icon class="header-icon">account_circle</mat-icon>
    <!-- <mat-icon class="header-icon">update</mat-icon>
    <mat-icon class="header-icon">notifications</mat-icon> -->

  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row> -->
  
</mat-toolbar>